name: Go Build and Test
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: go get ./...
      - name: Build
        run: go build -v ./...
      - name: Test all Go code
        run: go test ./...
